footer{
    color: var(--fg-footer);
    font-size: 20px;
}

footer div{ font-family: var(--font-footer); }

footer .icon{
    font-size: 30px;
    transition: 300ms;
}

footer .icon:hover{
    font-size: 35px;
    transition: 300ms;
}

#trademark{ padding:0 40px 0 40px; }

#link-facebook:hover{ color: var(--link-facebook); }
#link-instagram:hover{ color: var(--link-instagram); }
#link-tiktok:hover{ color: var(--link-tiktok); }