
@font-face {
    font-family: 'Minecraftia';
    src: url('../fonts/Minecraftia-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


:root {
    --placeholder-pink:#ff80b7;
    --placeholder-orange:#ffda9b;
    --placeholder-green:#c1e5b7;
    --placeholder-indigo:#776aff;

    --link-quem-somos:#ff19b7;
    --link-semana:#ff80b7;
    --link-kit-bixe:#ffda9b;
    --link-FAQ:#776aff;
    --link-ime:#c1e5b7;
    --link-ranking:#833ab4;
    --link-fotos:#fe2858;
    --link-videos:#c2450b;

    --bg-header:#000;
    --fg-header:#FFF;
    --bg-footer:#000;
    --fg-footer:#FFF;
    --bg-logo:#FFF;
    --link-instagram: #833ab4;
    --link-tiktok:#fe2858;
    --hover-btn-menu: 	#43c4da;

    --font-header: 'Minecraftia', sans-serif;
    --font-footer: 'Minecraftia', sans-serif;
}


html {
    font-size: 100%;
}

:root {
    /* Tema Gumball */
    --gumball-lighter: #7AD7F0;
    --gumball-primary: #00C6E9;
    --gumball-secondary: #0288D1;

    /* Tema Darwin */
    --darwin-lighter: #FFCC80;
    --darwin-primary: #FF8C44;
    --darwin-secondary: #E65100;

        /* Tema Anais */
    --anais-lighter: #FFC1E3;
    --anais-primary: #F58DA9;
    --anais-secondary: #D81B60;

    --text-primary: black;
}