@font-face {
    font-family: 'Minecraftia';
    font-style: normal;
    font-weight: 400;
    src: local('Minecraftia'), url('https://fonts.cdnfonts.com/s/31977/Minecraftia.woff') format('woff');
}


@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
}

/*
IMG é de Incrível Mundo de Gumball, não de imagem kkkkk
*/

:root {
    --img-darker-red: #fa4694;
    --img-red: #ff80b7;
    --img-darker-orange: #ffc052;
    --img-orange: #ffda9b;
    --img-darker-green: #95c787;
    --img-green: #c1e5b7;
    --img-darker-blue: #4a3ce2;
    --img-blue: #776aff;

    --text-primary: #121212;
}

section{
    padding: 0 1rem;
}

h1, h2 {
    font-family: 'Minecraftia';
}

p, a, div {
    font-family: 'Montserrat';
}
