/* Itens da navbar*/
nav div ul li{
    color:var(--fg-header);
    padding: 16px;
    height: 100%;
    transition: 300ms;
    align-content: center;
    text-align: center;
    cursor: pointer;
    font-family: var(--font-header);
}

nav div ul li:hover{ transition: 300ms; }

/* Logo da Semana de Recepção*/
#logo{ transition: 300ms; }

/* Icone do menu hamburguer*/
label[for="btn-menu"]{
	color:var(--fg-header);
    font-size: 24px;
    padding: 20px 50% 20px 50%;
    align-content: center;
}

label:hover, #btn-menu:checked ~ label[for="btn-menu"]:hover{ color:var(--placeholder-indigo); }

#btn-menu:checked ~ label[for="btn-menu"]{ color:var(--highlight); }

/* Hover e destaque dos itens da Navbar */
nav div:has(#link-quem-somos:hover) #logo, #link-quem-somos.active-page,
    #link-quem-somos:hover{ background-color: var(--link-quem-somos); }

nav div:has(#link-semana:hover) #logo, #link-semana.active-page,
    #link-semana:hover{ background-color: var(--link-semana); }

nav div:has(#link-kit-bixe:hover) #logo, #link-kit-bixe.active-page,
    #link-kit-bixe:hover{ background-color: var(--link-kit-bixe); }

nav div:has(#link-FAQ:hover) #logo, #link-FAQ.active-page,
    #link-FAQ:hover{ background-color: var(--link-FAQ); }

nav div:has(#link-ime:hover) #logo, #link-ime.active-page,
    #link-ime:hover{ background-color: var(--link-ime); }

nav div:has(#link-fotos:hover) #logo, #link-fotos.active-page,
    #link-fotos:hover{ background-color: var(--link-fotos); }

nav div:has(#link-videos:hover) #logo, #link-videos.active-page, 
    #link-videos:hover{ background-color: var(--link-videos); }