.kb-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 1.1rem;
    padding-bottom: 0;
}

.kb-buttons .col {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.kb-buttons a {
    text-decoration: none;
    background-color: var(--img-red);
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
    border-color: var(--img-red);
}

.kb-buttons .disabled {
    pointer-events: none;
    background-color: #ccc;
    border-color: #ccc;
}

#requestSoon {
    font-size: 1.3rem;
}

.kb-buttons a:hover {
    background-color: var(--img-darker-red);
    scale: 1.05;
}

.carousel {
    position: relative;
    margin: 25px auto;
    overflow-x: hidden;
}

.carousel::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    box-shadow:
        inset 15px 0 8px 0 rgba(255, 255, 255, 1),
        inset -15px 0 8px 0 rgba(255, 255, 255, 1);
}

.carousel-track {
    display: flex;
    animation: scroll 5s linear infinite;
}

.group {
    display: flex;
    flex-shrink: 0;
}

.bottons {
    height: 7em;
    margin-right: 1em;
}

.carousel::-webkit-scrollbar {
    display: none;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-64em);
    }
}
