.kb-buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 1.1rem;
    padding-bottom: 0;
}

.kb-buttons .col{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.kb-buttons a{
    text-decoration: none;
    color: var(--text-primary);
    background-color: var(--img-red);
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
    border-color: var(--img-red);
}

.kb-buttons .disabled{
    pointer-events: none;
    background-color: #ccc;
    border-color: #ccc;
}

#requestSoon{
    font-size: 1.3rem;
}

.kb-buttons a:hover{
    background-color: var(--img-darker-red);
    scale: 1.05;
}