.kb-buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 1.1rem;
    padding-bottom: 0;
}

.kb-buttons .col{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.kb-buttons a{
    text-decoration: none;
    background-color: var(--img-red);
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
    border-color: var(--img-red);
}

.kb-buttons .disabled{
    pointer-events: none;
    background-color: #ccc;
    border-color: #ccc;
}

#requestSoon{
    font-size: 1.3rem;
}

.kb-buttons a:hover{
    background-color: var(--img-darker-red);
    scale: 1.05;
}

.carousel {
    position: relative;
    margin: 25px auto;
    display: flex;
    overflow-x: auto;
}

.carousel::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    box-shadow:
        inset 15px 0 8px 0 rgba(255, 255, 255, 1),
        inset -15px 0 8px 0 rgba(255, 255, 255, 1);
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: walk 5s linear infinite;
}

.bottons {
    flex: 0 0 7em;
    padding-right: 1.5em;
    height: 7em;
    align-content: center;
}

.carousel::-webkit-scrollbar {
    display: none;
}

@keyframes walk {
    from {translate: 0;}
    to {translate: -100%;}
}